*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(152, 102, 82);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h2{
    text-align: center;
}

header{
    width: 100vw;
    min-height: 10vh;
    background-color: white;
    padding: 0 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    font-family: 'Bebas Neue', cursive;
    color: rgb(29, 61, 29);
    font-size: 1.3em;

}


header nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 30px;
    width: 100%;
    align-items: center;
}

header nav ul li{
    cursor: pointer;
    position: relative;
    padding: 14px 5px;
    font-size: 1.3em;
    align-items: center;
}

header nav ul li:hover{
    color: rgb(29, 61, 29);
    background-color: rgb(194, 126, 74);
}

#saibaMais{
    position: relative;
}


#saibaMais ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    width: 100%;
    left: 0;
    gap: 2px;
    width: 100%;
    font-size: 0.8rem;
}

#saibaMais:hover ul{
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
}

#saibaMais ul li{
    padding: 10px 5px;
    width: 100%;
}

#saibaMais:hover ul li:hover{
    background-color: rgb(194, 126, 74);
    padding: 10px 5px;
}





#entrada{
    background-color: white;
    width: 50vw;
    height: 75vh;
    padding: 30px;
    border-radius: 15px;
    margin-right: 30px;

    display: flex;
    flex-wrap: wrap;
}

#entrada button{
    width: 40%;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgb(194, 126, 74);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border: none;
    transition: transform 0.3s ease;
}

#entrada button:hover{
    color: black;
    transform: scale(1.1);
}

#entrada button:active{
    transform: scale(0.95);
}

#spaceBtn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
}

#texto, #resultadoLink{
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    padding: 15px;
    font-size: 1.2em;
    font-family: 'Share Tech', sans-serif;
    resize: none;
    border: 1px solid black;

    text-align: justify;
}

#resultadoLink a{
    color: black;
    font-weight: bold;
    text-decoration: underline 2px rgb(29, 61, 29);

}

#resultadoDados{
    width: 40vw;
    height: 75vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dadosTexto{
    background-color: white;
    width: 40vw;
    height: 30vh;
    border-radius: 15px;
    padding: 20px;
}

#caixaBorder{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    height: 70%;
}

#caixaBorder p{
    font-size: 1em;
    margin: 5px 0;
}

#resultadoDicionario{
    background-color: white;
    width: 40vw;
    height: 40vh;
    border-radius: 15px;
    padding: 20px;
}

#exibirPalavra{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#palavraSelecionada{
    margin: 10px;
}
#divPalavraSelecionada{
    color: rgb(29, 61, 29);
    font-weight: bold;
}

#resultadoLink{
    display: none;
}

#voltarBtn{
    display: none;
}


