*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(152, 102, 82);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h2{
    text-align: center;
}

header{
    width: 100vw;
    min-height: 10vh;
    background-color: white;
    padding: 0 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    font-family: 'Bebas Neue', cursive;
    color: rgb(29, 61, 29);
    font-size: 1.3em;

}


header nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 30px;
    width: 100%;
    align-items: center;

}

header nav ul li{
    cursor: pointer;
    position: relative;
    padding: 0;
    font-size: 1.3em;
    align-items: center;
}

header nav ul li button{
    all: unset;/*Remove o estilo padrao do button HTML, herdando o estilo da lista*/
    display: block;
    width: 100%;
    height: 100%;
    padding: 17px 5px;
    cursor: pointer;
}

header nav ul li ul li button{
    all: unset;
    display: block;
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;
}

header nav ul li:hover{
    color: rgb(29, 61, 29);
    background-color: rgb(194, 126, 74);
}

#saibaMais{
    position: relative;
}


#saibaMais ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    width: 100%;
    left: 0;
    gap: 2px;
    width: 100%;
    font-size: 0.8rem;
}

#saibaMais:hover ul{
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
}

#saibaMais ul li{
    padding: 10px 5px;
    width: 100%;
}

#saibaMais:hover ul li:hover{
    background-color: rgb(194, 126, 74);
    padding: 10px 5px;
}





#entrada{
    background-color: white;
    width: 50vw;
    height: 75vh;
    padding: 30px;
    border-radius: 15px;
    margin-right: 30px;

    display: flex;
    flex-wrap: wrap;
}

#entrada button{
    width: 40%;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgb(194, 126, 74);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border: none;
    transition: transform 0.3s ease;
}

#entrada button:hover{
    color: black;
    transform: scale(1.1);
}

#entrada button:active{
    transform: scale(0.95);
}

#spaceBtn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
}

#texto, #resultadoLink{
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    padding: 15px;
    font-size: 1.2em;
    font-family: 'Share Tech', sans-serif;
    resize: none;
    border: 1px solid black;

    text-align: justify;
}

#resultadoLink a{
    color: black;
    font-weight: bold;
    text-decoration: underline 2px rgb(29, 61, 29);

}

#resultadoDados{
    width: 40vw;
    height: 75vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dadosTexto{
    background-color: white;
    width: 40vw;
    height: 25vh;
    border-radius: 15px;
    padding: 10px;
}

#caixaBorder{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    height: 70%;
}

#caixaBorder p{
    font-size: 1em;
    margin: 5px 0;
    margin-left: 10px;
}

#resultadoDicionario{
    background-color: white;
    width: 40vw;
    height: 47vh;
    border-radius: 15px;
    padding: 20px;
}

#exibirPalavra{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#palavraSelecionada{
    margin: 10px;
}
#divPalavraSelecionada{
    color: rgb(29, 61, 29);
    font-weight: bold;
}

#resultadoLink, #voltarBtn{
    display: none;
}

#caixaDicionario{
    font-size: 0.9em;
    height: 100%;
    overflow-y: auto;
}


#textoDicionario h2{
    color: rgb(29, 61, 29);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8em;
    text-align: center;
}

#textoDicionario b{
    color: rgb(29, 61, 29);
}

#textoDicionario p{
    text-align: center;
}

#textoDicionario li{
    margin-bottom: 15px;
    list-style: none;
}

#telaBlock{
    position: fixed;/*Necessario para utilizar o z-index, para ter como base*/
    inset: 0;/*left, top, bottom e right tudo 0*/
    background: rgba(0,0,0,.4);
    z-index: 999;
}

.popUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*Centraliza bem no meio da tela*/
    display: none;
    width: 70vw;
    min-height: 50vh;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    z-index: 1002;
}

.popUp h2{
    color: rgb(29, 61, 29);
    background-color: rgb(194, 126, 74);
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    padding: 7px;
    margin: 5px;
    width: 100%;
    text-align: center;
}

.popUp p{
    padding: 10px;
    font-weight: bold;
}

.popUp p:nth-of-type(2){
    background-color: rgb(194, 126, 74);
    width: 100%;
    text-align: center;
}

.popUp ul{
    padding: 15px;
    text-align: justify;
}

.popUp li{
    margin-bottom: 15px;
}

.tamBtn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.fecharBtn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    color: rgb(29, 61, 29);
    background-color: transparent;
    transition: transform 1s ease, background-color 0.6s ease;
}
.fecharBtn svg{
    transition: transform 0.4s ease;
}

.fecharBtn:hover{
    background-color: rgb(194, 126, 74);
}

.fecharBtn:active{
    transform: scale(0.6);
}

.fecharBtn:hover svg{
    transform: scale(1.3);
}

#nome{
    font-size: 1.5em;
}

#tutorial{
    display: flex;
}

#contato ul{
    list-style: none;
}
#contato a{
    color: black;
}

#email, #github, #instagram{
    display: inline-block; /*elementos <a> possuem display inline, portanto o scale nao funciona direito, botar inline-block*/
    transition: transform 0.5s ease;
}
#email:hover{
    color: rgb(134, 60, 60);
    transform: scale(1.03);
}
#github:hover{
    color: rgb(96, 101, 101);
    transform: scale(1.03);
}
#instagram:hover{
    color: rgb(142, 72, 83);
    transform: scale(1.03);
}




