*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(152, 102, 82);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h2{
    text-align: center;
}

header{
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#entrada{
    background-color: white;
    width: 50vw;
    height: 75vh;
    padding: 30px;
    border-radius: 15px;
    margin-right: 30px;

    display: flex;
    flex-wrap: wrap;
}

#entrada button{
    width: 40%;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgb(194, 126, 74);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border: none;
    transition: transform 0.3s ease;
}

#entrada button:hover{
    color: black;
    transform: scale(1.1);
}

#spaceBtn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
}

#texto{
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    padding: 15px;
    font-size: 1.2em;
    font-family: 'Share Tech', sans-serif;
    resize: none;
    border: 1px solid black;

    text-align: justify;
}

#resultadoDados{
    width: 40vw;
    height: 75vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dadosTexto{
    background-color: white;
    width: 40vw;
    height: 30vh;
    border-radius: 15px;
    padding: 20px;
}

#caixaBorder{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    height: 70%;
}

#caixaBorder p{
    font-size: 1em;
    margin: 5px 0;
}

#resultadoDicionario{
    background-color: white;
    width: 40vw;
    height: 40vh;
    border-radius: 15px;
    padding: 20px;
}

#palavraSelecionada{
    margin: 10px 0;
}



